@using Huatek.Torch.Promotions.APP.ViewModel;
@using Huatek.Torch.Promotions.APP.Extensions;
@model PromotionDto;

@{
    ViewData["Title"] = @Model.Title;
}

<h1>@Model.Title</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)：
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)：
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionTypeId)：
        </dt>
        <dd class="col-sm-10">
            @Model.PromotionType.GetDescription()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOnUtc)：
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)：
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)：
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionStateId)：
        </dt>
        <dd class="col-sm-10">
            @Model.PromotionState.GetDescription()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)：
        </dt>
        <dd class="col-sm-10">
            @(Model.Deleted?"是":"否")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionProductTypeId)：
        </dt>
        <dd class="col-sm-10">
            @Model.PromotionProductType.GetDescription()
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">编辑</a> |
    <a asp-action="Index">返回列表</a>
</div>